streamlit>=1.22.0
langchain>=0.0.170
transformers>=4.30.0
huggingface-hub>=0.14.1
sentence-transformers>=2.2.2
chromadb>=0.4.22
pymupdf>=1.22.5
langchain-community>=0.0.27
torch>=2.0.0
docx2txt>=0.8
protobuf==3.20.3
